@import '../../mixins';

.todos {
  max-width: 50% !important;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__filterTodo {
    margin-top: 0.8rem;
    display: flex;
    flex-direction: column;

    gap: 1rem;

    > .filterTodo__formField {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      > label {
        font-weight: 600;
      }
      > select {
        width: 30%;
      }
    }
  }

  &__button {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  &__list {
    position: relative;
    border: 1rem solid #ecedf6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
    background-color: #ecedf6;
    border-radius: 0.5rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .bottom__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

@include mediumDeviceSize {
  .todos {
    max-width: 100% !important;
  }
}
