@import '../../../../mixins';

.todo {
  background-color: white;
  opacity: 0.9;
  margin-bottom: 23px;
  padding: 10px 10px;

  &__task {
    display: flex;
    justify-content: space-between;
    // align-items: center;

    > .task__left {
      display: flex;
      gap: 0.5rem;
      align-items: center;

      > .task__check {
        cursor: pointer;
      }
      > .task__title {
        font-size: 1.1rem;
        font-weight: bolder;
        &--completed {
          text-decoration: line-through;
          font-style: italic;
        }
      }

      > .task__priority {
        font-weight: bold;
        border-radius: 3px;
        padding: 0.5px 5px;

        &--isLow {
          border: 2px solid gray;
          color: gray;
        }
        &--isMedium {
          border: 2px solid blue;
          color: blue;
        }
        &--isHigh {
          border: 2px solid red;
          color: red;
        }
      }

      > .task__formField {
        display: flex;
        width: 100%;
      }
    }
    > .task__right {
      display: flex;
      gap: 0.5rem;
      > .task__button {
        background-color: #eee;
        border-radius: 5px;
        padding: 0.5rem;
        cursor: pointer;
      }

      > .task__button:hover {
        background-color: #dedfe1;
      }
    }

    &--isEditing {
      flex-direction: column;
      gap: 0.5rem;

      .task__left > .task__check {
        background-color: red;
        display: none;
      }

      .task__formField {
        gap: 0.5rem;
        flex-wrap: wrap;

        > input {
          width: 150%;
        }
      }
      > .task__right {
        flex-direction: column;
        text-align: center;
      }
    }
  }
}

.todo:last-of-type {
  margin-bottom: 0;
}

@include smallDeviceSize {
  .todo__task {
    flex-direction: column;
    > .task__left > .task__title {
      flex: 1;
    }
    > .task__right {
      flex-direction: column;
      margin-top: 20px;
      text-align: center;
    }
  }

  .task__formField {
    flex-direction: column;
    > input,
    select {
      width: 100% !important;
    }
  }
}
