@import '../../../../mixins';

.todo {
  background-color: white;
  opacity: 0.9;
  margin-bottom: 23px;
  padding: 10px 10px;

  &__task {
    display: flex;
    justify-content: space-between;
    // align-items: center;

    > .task__left {
      display: flex;
      gap: 0.5rem;
      align-items: center;

      > .task__title {
        font-size: 1.1rem;
        font-weight: bolder;
        &--completed {
          text-decoration: line-through;
          font-style: italic;
        }
      }

      .task__check {
        cursor: pointer;
      }

      > .task__priority {
        font-weight: bold;
        font-size: 15px;
        border-radius: 5px;
        padding: 0.5px 5px;

        &--isLow {
          background:
            linear-gradient(white, white) padding-box,
            linear-gradient(to right, rgb(185, 185, 185), rgb(44, 43, 44)) border-box;
          border: 3.5px solid transparent;
          color: black;
        }
        &--isMedium {
          background:
            linear-gradient(white, white) padding-box,
            linear-gradient(to right, darkblue, darkorchid) border-box;
          border: 3.5px solid transparent;
          color: rgb(3, 3, 157);
        }
        &--isHigh {
          background:
            linear-gradient(white, white) padding-box,
            linear-gradient(to right, rgb(251, 141, 111), rgb(205, 10, 10)) border-box;
          border: 3.5px solid transparent;
          color: rgb(168, 3, 3);
        }
      }

      > .task__formField {
        display: flex;
        width: 100%;
      }
    }
    > .task__right {
      display: flex;
      gap: 0.5rem;
      > .task__button {
        background-color: #eee;
        border-radius: 5px;
        padding: 0.5rem;
        cursor: pointer;

        &--isSave {
          background: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);

          &:hover {
            background: linear-gradient(315deg, #48c3eb 0%, #647dee 74%);
          }
        }

        &--isCancel {
          background-color: #b8c6db;
          background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);

          &:hover {
            background: linear-gradient(315deg, #fe0944 0%, #feae96 74%);
          }
        }
      }

      > .task__button:hover {
        background-color: #dedfe1;
      }
    }

    &--isEditing {
      flex-direction: column;
      gap: 0.5rem;

      .task__left .task__check {
        background-color: red;
        display: none;
      }

      .task__formField {
        gap: 0.5rem;
        flex-wrap: wrap;

        > input {
          width: 150%;
        }
      }
      > .task__right {
        flex-direction: column;
        text-align: center;
      }
    }
  }
}

.todo:last-of-type {
  margin-bottom: 0;
}

@include smallDeviceSize {
  .todo__task {
    flex-direction: column;
    > .task__left > .task__title {
      flex: 1;
    }
    > .task__right {
      flex-direction: column;
      margin-top: 20px;
      text-align: center;
    }
  }

  .task__formField {
    flex-direction: column;
    > input,
    select {
      width: 100% !important;
    }
  }
}
